<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homefragmentexample">

    <application
        android:name=".helpers.FirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeFragmentExample">
        <activity
            android:name=".activity.DalembertStrategyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AntiMartinagleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MartingaleMethodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FixedInterestStrategyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CatchingUpStrategyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FlatFullInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AuthActivity"
            android:exported="true"
            android:label="HomeFragmentExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>